*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: grey;
    color: white;
  }
  
  .container {
    width: 500px;
    margin: 20px auto;
  }
  
  .header{
    background-color: darkgrey;
    text-align: center;
    padding: 1.75rem;
  }
  
  .header h1{
    font-size: 2.25 rem;
  }
  
  .date{
    background-color: darkslategray;
    text-align: right;
    font-size: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 0;
  }
  
  ul.currencies{
    height: 500px;
    background-color: darkslategray;
    padding: 0 1.50rem 1 rem 1.5 rem;
  }
  
  ul.currenies li {
    background-color: dimgray;
    border-radius: 5px;
    list-style: none;
    margin-bottom: 1rem;
  }
  
  ul.currencies li:last-child{
    margin-bottom: 0;
  }
  
  .add-currency{
    background-color: green;
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid darkslategray;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .flag{
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    vertical-align: top;
  }
  
  .info{
    display: inline-block;
    width: 78%;
  }
  
  .info .input span{
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
  }